.contact {
    background-color: #120435;
    padding: 100px 0;
}

.contact__title {
    color: var(--whiteColor);
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
}

.contact__form input {
    padding: 10px;
    border-radius: 10px;
}

.contact__form textarea {
    padding: 10px;
    border-radius: 10px;
    height: 200px;
    resize: none;
}

.contact__form input, textarea::placeholder {
    font-size: 20px;
}

.contact__form button {
    width: 200px;
    margin: 0 auto;
    padding: 10px 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.contact__form button:hover {
    background-color: #d3c4c4;
    transform: scale(1.1);
}

